
@{
    ViewBag.Title = "Quản lý văn bản";
    var loaiVanBans = ViewBag.loaiVanBans as List<ToolsApp.EntityFramework.loaivanban>;
    var vanbandichuyens = ViewBag.vanbandichuyens as List<ToolsApp.EntityFramework.VanBanDiChuyen>;
    var phongBans = ViewBag.phongBans as List<ToolsApp.EntityFramework.DanhSachPhongban>;
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary border-no-color card-outline">
                    <div class="card-header">
                        <h3 class="card-title">
                            <b>TÌM KIẾM THEO TỪ KHÓA</b>
                        </h3>
                    </div>
                    <div class="card-body pad">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                  
                                    <label class="col-md-12 col-sm-12">Chọn Phòng Ban</label>
                                    <select id="IdPhongBanSearch" name="IdPhongBanSearch" class="form-control chosen-select" style="width: 100%;">
                                        <option value="">-- Chọn Phòng Ban --</option>
                                        @foreach (var item in phongBans)
                                        {
                                            <option value="@item.ID">@item.TenPhongBan</option>

                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-12 col-sm-12">Kiểu Văn Bản</label>
                                    <select id="IdLoaiVanBanSearch" name="IdLoaiVanBanSearch" class="form-control chosen-select" style="width: 100%;">
                                        <option value="">-- Chọn Kiểu Văn Bản --</option>
                                        @foreach (var item in loaiVanBans)
                                        {
                                            <option value="@item.Id">@item.TenLoai</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <!-- /.col -->
                            <div class="col-md-12">
                                <!-- /.form-group -->
                                <div class="form-group">
                                    <button id="btnSearch" type="button" class="btn bg-gradient-primary"><i class="fa fa-search"></i> Tìm kiếm</button>

                                </div>
                                <!-- /.form-group -->
                            </div>
                            <!-- /.col -->
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <!-- /.col -->
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title">
                            <b>KẾT QUẢ</b>
                        </h3>
                    </div>
                    <div class="card-body pad">
                        <div class="row">
                            <div class="col-md-4">
                                <button id="btnCreate" onclick="Insert()" type="button" class="btn bg-gradient-success"><i class="fa fa-plus"></i>&nbsp;Thêm</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mt-4 table-body table-responsive">
                            </div>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <!-- /.col -->
        </div>
    </div><!-- /.container-fluid -->
</section>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content custom-modal-css">
            @using (Html.BeginForm(null, null, FormMethod.Get, new { name = "frm", id = "frm", enctype = "multipart/form-data" }))
            {

                <div class="modal-header custom-modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold" id="myModalTitle"></h4>
                    <button type="button" style="color: white" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">
                    <div id="myModalContent">
                    </div>

                </div>
                <div class="modal-footer modal-custom-footer footer d-flex ">
                    <button type="button" id="btSave" onclick="InsertAction()" class="btn btn-sm btn-success"><i class="fa fa-save"></i>&nbsp;Lưu</button>
                    <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"><i class="fa fa-close"></i>&nbsp;Đóng</button>
                </div>
            }

        </div>
    </div>
</div>
<div class="modal fade" id="myModalUpdate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content custom-modal-css">
            @using (Html.BeginForm(null, null, FormMethod.Get, new { name = "frm", id = "frm", enctype = "multipart/form-data" }))
            {

                <div class="modal-header custom-modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold" id="myModalTitleUpdate"></h4>
                    <button type="button" style="color: white" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">
                    <div id="myModalContentUpdate">
                    </div>

                </div>
                <div class="modal-footer modal-custom-footer footer d-flex ">
                    <button type="button" id="btSave" onclick="UpdateAction()" class="btn btn-sm btn-success"><i class="fa fa-save"></i>&nbsp;Lưu</button>
                    <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"><i class="fa fa-close"></i>&nbsp;Đóng</button>
                </div>
            }

        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.10.377/pdf.min.js"></script>
@section scripts {
    <script>
        var paramsLoadData = [
            true,
            '@Url.Action("GetList")',
            '#IdLoaiVanBanSearch',
            '#IdPhongBanSearch'


        ];
        $(document).ready(function () {
            loadData(...paramsLoadData);
            $("#btnSearch").click(function () {
                loadData(...paramsLoadData);
            })
        });
        var myModalInsert = {
            $modal: $('#myModal'),
            $myModalContent: $("#myModalContent"),
            $myModalTitle: $("#myModalTitle")
        }
        var myModalUpdate = {
            $modal: $('#myModalUpdate'),
            $myModalContent: $("#myModalContentUpdate"),
            $myModalTitle: $("#myModalTitleUpdate")
        }
        function Insert() {
            loadModal('Thêm thông tin văn bản', '@Url.Action("_Insert")', myModalInsert)
        }
        function Upload(id) {
            loadModal('Cập nhật thông tin văn bản', '@Url.Action("_Edit")', myModalUpdate, id)
        }
        function InsertAction() {
            var form = document.getElementById('insertForm');
            var formData = new FormData(form);
            $.ajax({
                url: '@Url.Action("_InsertFun")',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (res) {
                    if (res.success) {
                        notify(res.message, "success");
                        loadData(...paramsLoadData);
                    } else {
                        notify(res.message, "error");
                    }
                },
                error: function (xhr, status, error) {
                    notify("Error occurred while processing request.", "error");
                }
            });
        }
        function UpdateAction() {
            var form = document.getElementById('updateForm');
            var formData = new FormData(form);
            $.ajax({
                url: '@Url.Action("_UpdateFun")',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (res) {
                    if (res.success) {
                        notify(res.message, "success");
                        loadData(...paramsLoadData);
                    } else {
                        notify(res.message, "error");
                    }
                },
                error: function (xhr, status, error) {
                    notify("Error occurred while processing request.", "error");
                }
            });
        }
        function DeleteAction(Id) {
            
            $.ajax({
                url: '@Url.Action("_DeleteFun")',
                type: 'POST',
                data: {Id:Id},
                processData: false,
                contentType: false,
                success: function (res) {
                    if (res.success) {
                        notify(res.message, "success");
                        loadData(...paramsLoadData);
                    } else {
                        notify(res.message, "error");
                    }
                },
                error: function (xhr, status, error) {
                    notify("Error occurred while processing request.", "error");
                }
            });
        }
    </script>
}
